<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
  create new product
</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">tên</th>
    <th scope="col">ảnh</th>
    <th scope="col">giá</th>
    <th scope="col">status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products, index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{p.name}}</td>
    <td><img src="{{p.img}}" width="300" height="200"></td>
    <td>{{p.price}}</td>
    <td *ngIf="p.status == true">còn hàng</td>
    <td *ngIf="p.status == false">hết hàng</td>
    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalchien" (click)="showProduct(p.name)">edit</button></td>
    <td><button type="button" class="btn btn-primary" (click)="deleteProduct(p.name)">delete</button></td>
  </tr>
  </tbody>
</table>

<!-- The Modal create -->
<div class="modal" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input type="text" placeholder="name" [(ngModel)]="name" width="100%"><br>
        <input type="text" placeholder="img" [(ngModel)]="img" width="100%"><br>
        <input type="text" placeholder="price" [(ngModel)]="price" width="100%">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createProduct()">tạo product</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

 The Modal edit
<div class="modal" id="myModalchien">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input type="text" placeholder="name" [(ngModel)]="name" width="100%"><br>
        <input type="text" placeholder="img" [(ngModel)]="img" width="100%"><br>
        <input type="text" placeholder="price" [(ngModel)]="price" width="100%">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProduct(name)">updateProduct</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


